
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: white;
}

.headering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cc0000; 
    padding: 20px 40px;
    position:sticky;
    width: 100%;
    z-index: 1000;
}

.logo {
    height: 100px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.nav {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

.nav:hover {
    color: yellow;  
   
}

section {
    padding: 120px 40px 40px; 
}


/* text scudia ferari */
.scuderia-wrap{
  display: inline-block;
  position: relative;
  margin: 16px 0;
}


.scuderia-wrap::before{
  content:"";
  justify-content: center;
  position:absolute;
  top:-10px; left:0; right:0;
  height:6px;
  background: linear-gradient(90deg,#009246 33%, #F1F2F1 33% 66%, #CE2B37 66%);
  border-radius: 2px;
}


.scuderia-wordmark{
  display:flex;
  align-items:center;
  gap:10px;
  font-family: "Teko","Oswald",Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-style: italic;        
  transform: skewX(-10deg);  
  user-select: none;
}


 .word{
  display:inline-block;
  padding: 6px 12px;
  line-height: 1;
  font-weight: 700;
  font-size: clamp(24px, 4vw, 48px);
  color:#fff;
  background:#000;            
  border-radius:6px; 
} 

/* Kata “Ferrari” dengan blok merah khas */
.word.ferrari{
  background:#cc0000;         /* merah Ferrari */
  color:#fff;
}

/* Opsi outline tipis biar lebih “badge” */
.scuderia-wordmark .word{
  box-shadow: 0 0 0 2px #000 inset, 0 2px 6px rgba(0,0,0,.25);
}

/* Jika diletak di header merah, ubah varian ini agar kontras */
header.scuderia-wordmark .scuderia{
  background:#111; /* sedikit lebih terang dari hitam murni */
}

.visi{
    position: relative;

    bottom: 59px;
    font-size: larger;
}

.p{
    width: 371px;
    height: 210px;
    font: size 210px;
}

.pf{
    position: relative;
    bottom: 460px;
    text-align: right;
    padding: 20px;

}

.p1{
    position: relative;
  bottom: 460px;
    text-align: right;
    padding-left: 30px;
}

.pk{
    text-align: center;
     position: relative;
     bottom: 2%;
    
}


.bo1{
  width: 400px;
  height: 300px;
  border-radius: 70px;
  justify-content: space-between;
left: 0px;
right: 400px;
  
}
.bo2{
  width: 400px;
  height: 300px;
  border-radius: 70px;
  justify-content: space-between;
  position: relative;
  left: 00px;
}
.bo3{
  width: 400px;
  height: 300px;
  border-radius: 70px;
  position: relative;
  top: 5px;
  right: 0px;
  bottom: 200px;
  justify-content: space-between;
}

.vid{
  position: relative;
  top: 100px;
}

.loc{
  text-align: center;
  position: relative;
  top: 100px;
}

.kon{
  text-align: center;
  position: relative;
  top: 200px;
}
